<div class ="container">
	<div class ="row">
		<div class ="col">
			<h2>User info</h2>
			<img class ="",src ="img">
			<table class ="table">
				<tbody>
					<tr>
						<td>name</td>
						<td></td>
					</tr>
					<tr>
						<td>introduction</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<div class ="row">
				<a href ="">設定ボタン</a>
			</div>
			<h2>New book</h2>
			<%= form_for(@book, url: books_path ) do |f| %>
				<lavel class ="title">Title</lavel>
				<%= f.text_field :title, class: "title-box" %>
				<lavel class ="body">Opinion</lavel>
				<%= f.text_area :body, class: "body-box" %>
				<div class ="row">
					<%= f.submit 'Create Book'%>
				</div>
			<% end %>
		</div>
		<div class ="col"></div>
	</div>
</div>