<div class ="container">
	<div class ="row">
		<div class ="col">
			<h2>User info</h2>
			<img class ="",src ="img">
			<table class ="table">
				<tbody>
					<tr>
						<td>name</td>
						<td></td>
					</tr>
					<tr>
						<td>introduction</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<div class ="row">
				<a href ="">設定ボタン</a>
			</div>
			<h2>New book</h2>
		</div>
		<div class ="col"></div>
	</div>
</div>