<div class ="container">
	<%= render 'layouts/notifications' %>
	<div class ="row">
		<div class ="col-xs-offset-3 col-xs-6">
			<h1>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers !!</h1>
			<p class ="home-p">
				In<span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers,<br>
				you can share and exchange your opinion , inpressions ,and emotions<br>
				about various books!
			</p>
			<div class ="row">
				<li><%= link_to "Log in",new_user_session_path, class: "login-btn col-xs-12" %></li>
			</div>
			<div class ="row">
				<li><%= link_to "Sign Up",new_user_registration_path, class: "signup-btn col-xs-12" %></li>
			</div>
		</div>
	</div>
</div>
