/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

*{
	padding :0;
	margin: 0;
	box-sizing: border-box;
}
.clearfix::after {
  	content: "";
  	display: block;
  	clear: both;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}
.alert-warning {
	color: red;
}
.header {
	background-color: black;
	margin-bottom: 20px;
}
.header-nav-left{
	float: left;
}
.header-logo {
	font-size :20px;
	color: white;
}
.header-nav-right {
	float:right;
	margin-right: -15px;
	margin-bottom: 0;
}
li {
	text-align: center;
	display: inline;
}
.glyphicon {
	padding-right: 10px;
}
.header-list {
	color: #9d9d9d;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
	display: inline-block;
}
.header-list:hover {
	color: #fff;
    background-color: transparent;
}
p {
	text-align: right;
}
.home-p {
	text-align: left;

}




h2 {
	font-size: 30px;
	margin-top: 20px;
    margin-bottom: 10px;
}
.edit-btn {
	background-color: #fff;
	border-color: #ccc;
}
.col-xs-12 {
	width: 100%;
}
th {
	font-weight: bold;
}
a, td{
	font-weight: bold;
	color: #666;
}
a:hover {
	color: #333;
}
lavel {
	display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.field, .action {
	margin-bottom: 10px;
}



.login-btn {
	color: #666;
	background-color: #5bc0de;
    border-color: #46b8da;
    padding: 6px 12px;
    border-radius: 4px;
}
.login-btn:hover {
	color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.signup-btn {
	color: #666;
    background-color: #5cb85c;
    border-color: #4cae4c;
    padding: 6px 12px;
    border-radius: 4px;
}
.signup-btn:hover {
	color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.Update-btn {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}
.Update-btn:hover {
	color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.create-btn {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
	padding: 6px 12px;
	border-radius: 4px;
}
.create-btn:hover {
	color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.edit_btn {
	color: #fff;
    background-color: #00cc21;
    border-color: #4cae4c;
    border-radius: 3px ;
	padding: 5px 10px;
 }

.edit_btn:hover {
	color: #fff;
	background-color: #00e921;
}
.dleate_btn {
	color: #fff;
    background-color: #bf0000;
    border-color: #d43f3a;
	border-radius: 3px;
	padding: 5px 10px;
}
.dleate_btn:hover {
	color: #fff;
	background-color: #f70b00;
}
.show-btn {
	color: #fff;
    background-color: #005eb8;
    border-radius: 3px ;
	padding: 5px 10px;
}
.show-btn:hover {
	color: #fff;
    background-color: #0063ff;
}
























